[Unit]
Description=The Lone Dancer
After=basic.target
After=the-lone-dancer-automatic.service
EnvironmentFile=/etc/the-lone-dancer/config

[Service]
Type=simple
Restart=always
User=the-lone-dancer
ExecStart=/usr/bin/the-lone-dancer --verbose

[Install]
WantedBy=multi-user.target
WantedBy=the-lone-dancer-update.service
